In [3]:
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy

In [4]:
metadata_df = pd.read_csv("data/network_metadata.tab", sep="\t")
metadata_df.loc[:, "IMDB_id"] = metadata_df["IMDB_id"].str[2:].astype('int')
metadata_df.head()

   GexfID                       Title  IMDB_id  ReleaseDate  ... ConnectedComponents Density Edges Characters
0       1  10 Things I Hate About You   147800         1999  ...               3,000   0,233   225         25
1       2                          12   488478         2007  ...               6,000   0,077   102         42
2       3          Twelve and Holding   417385         2005  ...               2,000   0,140   139         26
3       5                   127 Hours  1542344         2010  ...               4,000   0,152    33         11
4       6  1492: Conquest of Paradise   103594         1992  ...               1,000   0,153   164         34

[5 rows x 14 columns]

In [5]:
imdb_data_df = pd.read_json("data/gexf_imdb_metadata.json", orient='index')
imdb_data_df

     movie_id  ...                            character_actor_mapping
1      147800  ...  {'Bartender': {'BARTENDER': 'Carlos Lacamara'}...
2      488478  ...   {'Dochka svidetelya': {'DOC': 'Lyubov Rudneva'}}
3      417385  ...  {'Priest': {'PRIEST': 'Robertson Carricart'}, ...
5     1542344  ...  {'Aron's Mom': {'MOM': 'Kate Burton'}, 'Report...
6      103594  ...                                                 {}
..        ...  ...                                                ...
910   1068680  ...  {'Father at Homeless Shelter': {'FATHER': 'Mik...
911    203230  ...                                                 {}
912    128853  ...   {'T.V. Reporter': {'REPORTER': 'Nina Zoie Lam'}}
913    403702  ...                                                 {}
914    421090  ...                                                 {}

[773 rows x 9 columns]

In [6]:
df = pd.merge(metadata_df, imdb_data_df, left_on="IMDB_id", right_on="movie_id")
df.loc[:,'directors-writers'] = df.loc[:,'directors'] + df.loc[:,'writers']
for i in range(len(df)):
    df.loc[:,'directors-writers'][i] = list(set(df.loc[:,'directors-writers'][i]))
df

C:\Users\Robin McCann\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     GexfID  ...                                  directors-writers
0         1  ...  [Gil Junger, Kirsten Smith, Karen McCullah, Wi...
1         2  ...  [Vladimir Moiseenko, Aleksandr Novototskiy-Vla...
2         3  ...                 [Michael Cuesta, Anthony Cipriano]
3         5  ...         [Aron Ralston, Simon Beaufoy, Danny Boyle]
4         6  ...                         [Rose Bosch, Ridley Scott]
..      ...  ...                                                ...
768     910  ...  [Nicholas Stoller, Andrew Mogel, Jarrad Paul, ...
769     911  ...                                 [Kenneth Lonergan]
770     912  ...         [Nora Ephron, Delia Ephron, Miklós László]
771     913  ...           [Miguel Arteta, Gustin Nash, C.D. Payne]
772     914  ...                                   [Martin Curland]

[773 rows x 24 columns]

In [32]:
# A graph where nodes are movie titles and are conneted if they share a director or a writer.
Movies_Graph = nx.Graph()
titles = df.loc[:,'Title']
for title in titles:
    Movies_Graph.add_node(title)

    
# Add node if two movies share a director or a writer
# Edge weight = number of directors/writers in common 
for i in range(len(df)):
    for j in range(i+1, len(df)):
        title_i = titles[i]
        title_j = titles[j]
        dirwri_i = df.loc[i,'directors-writers']
        dirwri_j = df.loc[j,'directors-writers']
        intersection = set.intersection(set(dirwri_i), set(dirwri_j))
        if intersection:
            Movies_Graph.add_edge(title_i, title_j, weight=len(intersection))

In [34]:
# make subset of G that is ~50 nodes
Movies_Graph_subset = copy.deepcopy(Movies_Graph)
i=0
for node in Movies_Graph:
    if Movies_Graph.degree(node) < 12:
        Movies_Graph_subset.remove_node(node)

# print(len(Movies_Graph))
# print(len(Movies_Graph_subset))

773

In [14]:
## A graph where nodes are directors or writers and are connected if they have collaborated on a movie

# Get all unique directors and writers
writer_movies_map = {}
Writers_Graph = nx.Graph()
Directors_writers_unique = set()
for dw_list in df.loc[:,'directors-writers']:
    for dw in dw_list:
        Directors_writers_unique.add(dw)
        
# Add all writer nodes and make dictionary for every movie worked on by said writer
for dw in Directors_writers_unique:
    writer_movies_map[dw] = []
    Writers_Graph.add_node(dw)
    for i in range(len(df)):
        if dw in df.loc[i,'directors-writers']:
            writer_movies_map.get(dw).append(df.loc[i,'Title'])

In [21]:
writers = list(writer_movies_map.keys())

# Add edges between writers with weight equal to the number of movies they have collaborated on
for i in range(len(writers)):
    for j in range(i+1, len(writers)):
        writer_i = writers[i]
        writer_j = writers[j]
        movies_i = writer_movies_map[writer_i]
        movies_j = writer_movies_map[writer_j]
        intersection = set.intersection(set(movies_i), set(movies_j))
        if intersection:
            Writers_Graph.add_edge(writer_i, writer_j, weight=len(intersection))

In [33]:
# print(len(Writers_Graph))

1461

In [27]:
def draw_connection_with_edges(G, min_weight=None, max_weight=None, figsize=None, layout=None,
                               c=100, font_size=16, font_color='orange'):
    if figsize is not None:
        plt.figure(figsize=figsize)
        
    pos = layout or nx.random_layout(G)
    
    weights = {(u, v): d["weight"] for (u, v, d) in G.edges(data=True)}
    if min_weight is not None:
        weights = {k: v for k, v in weights.items() if v > min_weight}
    if max_weight is not None:
        weights = {k: v for k, v in weights.items() if v <= max_weight}
    filtered_edges = list(weights.keys())
    
    t = np.array(list(weights.values()))
    normalized_weights = c*t/t.sum()

    nx.draw(G, pos=pos, edgelist=filtered_edges, font_color=font_color, width=normalized_weights,
            with_labels=True, font_weight='bold', font_size=font_size)

    nx.draw_networkx_edge_labels(G,
                                 pos=pos,
                                 edge_labels=weights)
    plt.show()

In [28]:
# draw_connection_with_edges(Writers_Graph, min_weight=2, c=10, font_size=10)